<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>HW 3</title>
  </head>
  <body>
    <h1>Конвертер</h1>
    <div id="app">
      <input
        v-model="kmPerHour"
        @input="convertToMetersPerSecond"
        type="text"
        placeholder="км/ч"
      />
      <br />
      <br />
      <input
        v-model="metersPerSecond"
        @input="convertToKmPerHour"
        type="text"
        placeholder="м/с"
      />
    </div>

    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
